<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto">
      <h1 class='my-3 py-3'>会員情報編集</h1>
      <%= form_with model: @customer, url: public_customer_path, local: true do |f| %>
        <%= render 'layouts/errors', object: @customer %>
        <%= render "customers/shared/form", f: f %>

      <div class="row justify-content-around">
       <div class="col-xs-3 my-3">
         <%= f.submit "編集内容を保存" ,class:"btn btn-primary" %>
      <% end %>
       </div>
       </div>

      <div class="col-xs-3 my-3">
        <%=link_to "退会する", "#", class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
