<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-4">
      <h2>新規登録画面</h2>

      <%= form_with model: @customer, url: registration_path(@customer), local: true do |f| %>
        <%= render "customers/shared/error_messages", resource: resource %>
        <%= render "customers/shared/form", f: f %>
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br/>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :"パスワード" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <div class="actions" style="padding:10px 0 0 10px;";>
          <%= f.submit "Sign up" %>
        </div>
      <% end %>
        <div class="link"style="padding:10px 0 0 10px;" >
          <%= render "customers/shared/links" %>
        </div>
    </div>
  </div>
</div>